.contenedor {
    width: 80vw;
    height: 80vh;
    background-color: aquamarine;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
    /* grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%; */
}

.item {
    background-color:cornflowerblue;
    border: 1px solid white;
}